.booking-details {
  padding: 20px;
}

.property-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.property-card {
  border: 1px solid #ccc;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 500px;
  transition: box-shadow 0.3s ease-in-out;
  background-color: #fff;
  border-radius: 5px;
  margin-top: 50px;
  margin: auto;
}

.property-card:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.property-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
  margin-bottom: 10px;
  border-radius: 5px;
}

.property-details {
  flex: 1;
}

.property-details h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}

.rating {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  color: #f7b500;
}

.star {
  font-size: 30px;
  margin-right: 4px;
}
.property-details p {
  margin-bottom: 5px;
  color: #555;
}

.delete-button {
  background-color: #4A154B;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  margin: 10px;
  margin-left: 0px;
  transition: background-color 0.3s ease-in-out;
}

.delete-button:hover {
  background-color: #6b1d7a;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  .property-grid {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  .property-image {
    height: 200px;
    width: 100%;
  }

  .delete-button {
    margin-left: 5px;
  }
}
