/* styles.css */

.landing-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: white; /* Your theme color */
  padding-left: 140px;
  padding-top: 40px;
  color: #4A154B;
}

.left-side {
  flex: 1;
  margin-bottom: 30px;
  padding-top: 100px; /* Add some spacing between the left and right sides */
}

.left-side h1 {
  font-size: 48px;
  margin-bottom: 20px;
  font-weight: bolder;
}

.left-side p {
  font-size: 25px;
  margin-bottom: 40px;
  color: black;
  font-weight: bolder;
}

.search-bar {
  display: flex;
  align-items: center;
  border: 3px solid #4A154B;
  width: 100%; /* Adjust the width to take the full available space */
  max-width: 350px;
  border-radius: 20px;
  padding: 10px; /* Add a maximum width to the search bar */
}

.search-bar>input {
  flex: 1; /* Let the input take the remaining space */
  padding: 10px;
  border: none;
  border-radius: 4px;
  margin-right: 10px;
}

.search-bar>button{
  border: none;
}
.search-icon {
  background-color: #fff;
  /* border: 1px solid #4A154B; */
  border-radius: 4px;
  padding: 10px;
  cursor: pointer;
}

.right-side {
  flex: 1;
  margin-top: 30px; /* Add some spacing between the left and right sides */
}

.right-side img {
  width: 80%; /* Make the image responsive to the container's width */
  height: auto; /* Allow the height to adjust automatically */
  border-radius: 8px;
}

.carousel-container {
  margin-top: 40px;
}

.carousel-inner img {
  width: 100%; /* Make the carousel images full width */
  height: 500px; /* Adjust the height as per your preference */
  object-fit: cover;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #4A154B; /* Your theme color */
  padding: 10px;
  border-radius: 50%;
}

.carousel-control-prev,
.carousel-control-next {
  width: auto;
  top: 50%;
  transform: translateY(-50%);
}

.carousel-indicators li {
  background-color: #4A154B; /* Your theme color */
  border-color: #4A154B; /* Your theme color */
}

.carousel-indicators .active {
  background-color: #fff;
}

.bottomImage {
  margin: 0px;
  margin-top: 30px; /* Add some spacing between the carousel and the bottom image */
}

.bottomImage > img {
  margin: auto;
  width: 100%;
  height: auto; /* Allow the bottom image to adjust its height automatically */
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  .landing-page {
    padding-left: 20px; /* Reduce the left padding for smaller screens */
    padding-top: 20px; /* Reduce the top padding for smaller screens */
  }

  .left-side,
  .right-side {
    flex: 1 0 100%; /* Make both sides take the full width on smaller screens */
  }

  .left-side{
    padding-top: 0px;
  }
  .right-side>img{
    width: 96%;
  }
  .search-bar {
   margin: auto;
   border-radius: 20px;
   padding: 10px;
  }
  .search-bar>input{
    border: none;
  }
  .search-bar>button{
    border: none;
  }
}
