<nav class="navbar">
  <div class="navbar-brand">
    <a routerLink="/">StayHub</a>
  </div>
  <div class="navbar-hamburger" (click)="toggleNavbar()">
    <div class="hamburger-line"></div>
    <div class="hamburger-line"></div>
    <div class="hamburger-line"></div>
  </div>
  <ul class="navbar-links" [ngClass]="{ active: isNavbarActive }">
    <li><a routerLink="/properties">Properties</a></li>
    <li><a routerLink="/bookings">Bookings</a></li>
    <li><a routerLink="/chat">Chat</a></li>
    <li><a routerLink="/register"><i class="fas fa-user"></i></a></li>
  </ul>
</nav>
